@import "../../../Assets/theme/_var.scss";

.dashboard {
    &_section {
        .statistics_card {
            border-radius: 0.6rem;
            border: 1px solid $grayclr2;
            padding: 3rem;
            width: 100%;
            max-width: 100rem;
            margin-bottom: 2rem;

            p {
                color: $baseclr;
                font-size: 1.2rem;
                font-weight: 400;
            }

            &_list {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-top: 2.2rem;

                li {
                    margin-right: 2.1rem;

                    label {
                        color: $greyclr;
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 1;
                        margin-bottom: 0.6rem;
                    }

                    h3 {
                        color: $blackclr2;
                        font-size: 2.7rem;
                        font-weight: 500;
                        line-height: 1.5;
                        letter-spacing: -0.729px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &_typepass {
                margin: 1.5rem 0;

                label {
                    color: $greyclr;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1;
                    margin-bottom: 0.6rem;
                }

                p {
                    color: $blackclr2;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: -0.729px;
                }
            }

            &_totlelist {
                border-top: 1px solid $grayclr2;
                padding-top: 1.5rem;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 1rem;

                    &:last-child {
                        padding-bottom: 0;
                    }

                    label {
                        color: $greyclr;
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 1;
                        margin-bottom: 0.6rem;
                    }

                    p {
                        color: $blackclr2;
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: -0.729px;

                        span {
                            color: $baseclr;

                            &.gray_span {
                                color: $grayclr3;
                            }
                        }
                    }
                }
            }

            .create_btn {
                margin-top: 2rem;
                width: 50%;

                .btncreate {
                    width: 100%;
                }
            }
        }

        .approval {
            margin-bottom: 2rem;

            &_tophead {
                margin-bottom: 2rem;
                display: flex;
                align-items: center;

                h5 {
                    color: #18181D;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.2;

                    span {
                        color: #E55735;
                        text-decoration-line: underline;
                    }
                }

                .viewbtn {
                    color: #0E0E0B;
                    font-family: Be Vietnam Pro;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2;
                    margin-left: 1rem;
                }
            }

            &_table {
                .tables_btn {
                    display: flex;
                    align-items: center;

                    .btn-style {
                        margin-right: 1rem;
                        min-width: auto;
                        height: 3.5rem;
                        padding: 0.6rem 1.5rem;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}