@import "../../../../../Assets/theme/_var.scss";
.black_bg_style {
    &::after {
        content: "";
        background-color: $blackclr;
        min-height: 170px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
.Usercraete_property_page {
    .common_heading {
        h2 {
            padding-bottom: 0;
            color: $whiteclr;
        }
    }

    .btn-style {
        &:hover {
            background-color: $greybg;
            color: $blackclr;
        }
    }
}

.new_property {
    border-radius: 0.6rem;
    border: 1px solid rgba(112, 112, 112, 0.15);
    background: #FFF;
    padding: 3rem 4rem;

    @media (max-width:767px) {
        padding: 2rem 1.5rem;
    }

    h6 {
        color: #18181D;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.3;        
    }

    &_section {
        margin-top: 4.4rem;

        @media (max-width:767px) {
            margin-top: 2rem;
        }

        .address_selectbox {
            position: relative;

            ul {
                position: absolute;
                top: 80px;
                background-color: $whiteclr;
                border: 1px solid $borderclr;
                width: 100%;
                padding: 0px;
                z-index: 1;

                li {
                    padding: 10px 15px;
                }
            }
        }

        .upload_image {
            &_listed {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                li {
                    .multi-preview {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;

                        img {
                            width: 4.8rem;
                            height: 4.8rem;
                            object-fit: cover;
                            margin-right: 1.2rem;
                            margin-bottom: 1rem;
                        }

                        .image_up {
                            position: relative;
                            width: 4.8rem;
                            height: 4.8rem;

                            span {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: #F4F4F4;
                            }

                            .file_up {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                z-index: 9;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }

        .spaceline {
            margin: 4.4rem 0;
            height: 0.1rem;
            opacity: 1;
            border: none;
            background: rgba(112, 112, 112, 0.15);
        }

        .check_box_fields {
            h6 {
                color: #18181D;
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.3;
                margin-bottom: 2rem;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                max-width: 51rem;


                li {
                    flex: 0 0 45%;
                    margin-bottom: 2rem;

                    @media (max-width:767px) {
                        flex: 0 0 48%;
                        margin-bottom: 1.5rem;
                    }

                    @media (max-width:575px) {
                        flex: 0 0 80%;
                    }

                    .check_reverse {
                        &.checkbox_input {
                            display: block;
                        }

                        .form-check {
                            flex-direction: row-reverse;
                            justify-content: space-between;

                            .form-check-label {
                                margin-left: 0;
                                margin-right: 2rem;
                            }
                        }
                    }

                    &:last-child {
                        order: 1;
                        margin-bottom: 0;
                        flex: 0 0 100%;



                        .check_reverse {
                            width: 45%;

                            @media (max-width:767px) {
                                width: 48%;
                            }

                            @media (max-width:575px) {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }

        .heading_space {
            margin-bottom: 2rem;
        }
    }
}