@import "../../../../../Assets/theme/_var.scss";

.favorite_destination {
    padding: 15rem 0 13rem;

    @media (max-width:991px) {
        padding: 5rem 0 6rem;
    }

    @media (max-width:767px) {
        padding: 5rem 0;
    }

    &_Slider {
        @media (max-width:1199px) {
            padding: 0 2rem;
        }

        .slick-slider {
            &:focus {
                outline: 0;
                box-shadow: none;
            }
            .slick-list {
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
                .slick-track {
                    padding: 25rem 0 5rem;

                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }

                    @media (max-width:991px) {
                        padding: 3em 0 0rem;
                    }

                    .slick-slide {
                        transition: all ease-in-out 0.3s;

                        &:focus {
                            outline: 0;
                            box-shadow: none;
                        }

                        img {
                            margin: 0 auto;
                            width: 100%;

                            &:focus {
                                outline: 0;
                                box-shadow: none;
                            }
                        }

                        .favorite_slide_box {
                            p {
                                text-align: center;
                                margin-top: 2rem;
                                text-transform: uppercase;
                                font-weight: 600;
                                color: $blackclr2;
                            }
                        }

                        // &.slick-active {
                        //     transform: translateY(-200px) !important;
                        // }
                        @media (min-width:992px) {
                            &.slick-slide {
                                transform: translateY(-250px) !important;
                            }

                            &+.slick-slide+.slick-active {
                                transform: translateY(-150px) !important;
                            }

                            &.slick-current {
                                &.slick-center {
                                    transform: translateY(0) !important;
                                }

                                &+.slick-slide {
                                    transform: translateY(-150px) !important;
                                }

                                &+.slick-active+.slick-slide {
                                    transform: translateY(-250px) !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}