@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

$baseFont: 'Be Vietnam Pro', sans-serif;
$baseFont1: 'Outfit', sans-serif;
$baseclr: #E55735;
$orangeclr: #E55735;
$orangeclr2: #D64C24;
$orangeclr3: #FF672D;
$orangeclr4: #F15A29;
$redclr: #DB0007;
$redclr2: #EE5555;
$redclr3:#F26B43;
$blurclr: #353CE5;
$lightbrownclr: rgba(234, 226, 219, 1);
$blackclr: #000000;
$blackclr2: #0E0E0B;
$blackclr3: #320F0F;
$blackclr4: #1C2023;
$blackclr5: #0D0E0B;
$whiteclr: #ffffff;
$whiteclr2: #FFFAF8;
$borderclr: #E0E0E0;
$borderclr1: rgba(112, 112, 112, 0.15);
$borderclr2: #7070702e;
$borderclr3: rgba(224, 224, 224, 1);
$borderclr4: #E3E3E3;
$greyclr: rgba(13, 14, 11, 0.47);
$grayclr2: #70707026;
$grayclr3: #9F9F9F;
$greyclr4: #707070;
$grayclr5: #8B8B8B;
$grayclr7: #4F4F4F;
$grayclr8: #D6D6D6;
$grayclr9: #DCDBDA;
$greybg: rgba(235, 235, 235, 1);
$greybg1: #F7F6F5;
$greybg2: #E3E3E2;
$greybg3: #f5f5f5;
$lightgreyclr: #EBEBEB;
$darkbg: #18181D;
$lightbg: #18181d57;
$bg-gradient: linear-gradient(0deg, rgba(233, 66, 60, 0.20) 0%, rgba(233, 66, 60, 0.20) 100%), #120505;
$darkgreen: #18363B;
$darkblack: rgba(0, 0, 0, 1);
$black1: rgba(13, 14, 11, 1);
$black2: rgba(24, 24, 29, 1);
$redopacity: rgba(56, 56, 56, 0.39);
$yellowClr: #FDD109;
$yellowlightclr: #F9F9F1;
$lightbronclr:#C3BDB6;
$lightbronclr1:#EAE2DB;