@import "../../../../Assets/theme/_var.scss";

.new_property {
    border-radius: 0.6rem;
    border: 1px solid $borderclr1;
    background: $whiteclr;
    padding: 3rem 4rem;

    @media (max-width:767px) {
        padding: 2rem 1.5rem;
    }

    h6 {
        color: $textclr;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3;
    }

    &_section {
        margin-top: 4.4rem;

        @media (max-width:767px) {
            margin-top: 2rem;
        }

        .upload_image {
            &_listed {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                li {
                    .multi-preview {
                        display: flex;
                        flex-wrap: wrap;

                        img {
                            object-fit: cover;
                            width: 4.8rem;
                            height: 4.8rem;
                            margin-right: 0.8rem;
                            margin-bottom: 0.8rem;
                        }
                    }

                    .image_up {
                        position: relative;
                        width: 4.8rem;
                        height: 4.8rem;
                        margin-right: 0.8rem;

                        span {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: $lightgreyclr2;
                        }

                        .file_up {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            z-index: 9;
                            opacity: 0;
                        }
                    }

                    .btn.btn-secondary {
                        margin-bottom: 8px;
                        width: 6rem;
                        height: 4.8rem;
                        border-radius: 0.4rem;
                    }
                }
            }
        }

        .spaceline {
            margin: 4.4rem 0;
            height: 0.1rem;
            opacity: 1;
            border: none;
            background: $borderclr1;
        }

        .check_box_fields {
            h6 {
                color: $textclr;
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.3;
                margin-bottom: 2rem;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                max-width: 51rem;


                li {
                    flex: 0 0 45%;
                    margin-bottom: 2rem;

                    @media (max-width:767px) {
                        flex: 0 0 48%;
                        margin-bottom: 1.5rem;
                    }

                    @media (max-width:575px) {
                        flex: 0 0 80%;
                    }

                    .check_reverse {
                        &.checkbox_input {
                            display: block;
                        }

                        .form-check {
                            flex-direction: row-reverse;
                            justify-content: space-between;

                            .form-check-label {
                                margin-left: 0;
                                margin-right: 2rem;
                            }
                        }
                    }

                    &:last-child {
                        order: 1;
                        margin-bottom: 0;
                        flex: 0 0 100%;



                        .check_reverse {
                            width: 45%;

                            @media (max-width:767px) {
                                width: 48%;
                            }

                            @media (max-width:575px) {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }

        .heading_space {
            margin-bottom: 2rem;
        }
    }
}