@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

$baseFont: 'Be Vietnam Pro', sans-serif;
;
$baseclr: #E55735;
$orangeclr: #E55735;
$orangeclr2: #D64C24;
$blackclr: #000000;
$blackclr2: #0E0E0B;
$whiteclr: #ffffff;
$borderclr: #E0E0E0;
$borderclr1: rgba(112, 112, 112, 0.15);
$borderclr2: #FEF9EA;
$greyclr: rgba(13, 14, 11, 0.47);
$grayclr2: #70707026;
$grayclr3: #9F9F9F;
$greyclr4: #707070;
$grayclr5: #8B8B8B;
$grayclr6: #919191;
$grayclr7: #4F4F4F;
$lightgreyclr: #EBEBEB;
$lightgreyclr2: #F4F4F4;
$textclr: #18181D;