@import "../../../../../Assets/theme/_var.scss";

.tabs_innerContent {
    padding: 3rem 0;

    .Listings_Filter_Btns {
        padding: 2rem 0 3rem;

        .sort_filter_toggle {
            display: flex;
            align-items: center;
            border-radius: 5px;
            border: 1px solid $blackclr2;
            background: $whiteclr;
            padding: 0.5rem 1.2rem;
            height: 3.6rem;

            svg {
                margin-right: 0.5rem;
            }
        }

        .filter_items_Dropdown {
            &.dropdown {
                .dropdown-toggle {
                    min-width: 100px;
                    justify-content: center;

                    svg {
                        margin-left: 0;
                        margin-right: 0.5rem;
                        width: 2rem;
                        height: 2rem;
                    }
                }

                .dropdown-menu {
                    border-radius: 6px;
                    border: 1px solid $borderclr1;
                    background: $whiteclr;
                    padding: 3rem 1.5rem;
                    width: 310px;

                    .filter_items_box {
                        padding-top: 2rem;
                        margin-top: 2rem;
                        border-top: 1px solid $borderclr1;

                        &:first-child {
                            border-top: 0;
                            padding-top: 0;
                            margin-top: 0;
                        }

                        h5 {
                            margin-bottom: 1.5rem;
                            color: $blackclr2;
                        }

                        .checkbox_input {
                            margin-bottom: 1rem;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .Profile_passbox {
        .row {
            margin-bottom: 3rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_ticket {
            background-color: $lightbronclr1;
            text-align: center;
            padding: 1rem 1.5rem;
            display: flex;
            align-items: center; 
            justify-content: center;
        }

        &_details {
            border: 1px solid $borderclr1;
            // border-left: 0;
            height: 100%;
            padding: 2.5rem 2.5rem 2.5rem 4.8rem;
            border-top-right-radius: 0.6rem;
            border-bottom-right-radius: 0.6rem;

            @media (max-width:1199px) {
                padding: 2.5rem;
            }

            @media (max-width:1199px) {
                padding: 2rem 1rem;
                border-top-right-radius: 0rem;
                border-bottom-right-radius: 0.6rem;
                border-bottom-left-radius: 0.6rem;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                padding: 2rem 0;
                border-bottom: 1px solid $borderclr1;

                li {
                    margin: 1rem 6rem 1rem 0;

                    @media (max-width:1199px) {
                        margin: 1rem 2.5rem 0 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    span {
                        color: $greyclr;
                        font-size: 1.4rem;
                    }

                    p {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}