@import "../../../Assets/theme/_var.scss";
.site_footer {
  background-image: url("../../../Assets/Images/Global-banner-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 0;
  position: relative;
  z-index: 1;

  @media (max-width:767px) {
    padding: 4rem 0;
  }

  &::after {
    background-color: $blackclr;
    opacity: 0.7;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }

  &_Links {
    a {
      color: $whiteclr;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: normal;
      padding: 1rem 3rem;

      @media (max-width:991px) {
        padding: 0.5rem 1rem;
      }

      @media (max-width:575px) {
        padding: 1rem 1rem;
        display: block;
      }

      &:hover {
        color: $orangeclr;
      }
    }
  }

  &_Socialmedia {
    a {
      color: $whiteclr;
      padding: 1rem 3rem;
      transition: all ease-in-out 0.3s;

      @media (max-width:991px) {
        padding: 0.5rem 1rem;
      }

      &:hover {
        svg {
          path {
            fill: $orangeclr;
          }
        }
      }
    }
  }

  &_Copyright {
    .site_footer_Links {
      a {
        padding: 0rem;
      }
    }

    p {
      color: $whiteclr;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  .dropdown {
    position: relative;
    width: 12rem;

    &-toggle {
      color: $whiteclr;
      font-size: 1.4rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      position: relative;
      border: 0;
      width: 12rem;

      &::after {
        position: absolute;
        right: 10px;
        color: $whiteclr;
      }

      &:focus {
        outline: 0;
        box-shadow: none;
        color: $whiteclr;
      }

      span {
        padding: 0 1.2rem;
        color: $whiteclr;
      }
    }

    &-menu {
      background-color: $blackclr2;
      border-color: $borderclr1;
      width: 100%;

      a {
        color: $whiteclr;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 0.8rem 1rem;

        span {
          padding: 0 1.2rem;
        }

        &:hover {
          background-color: $orangeclr;
        }
      }
    }
  }
}